html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  position: absolute;
  left: 30%;
  top: 15em;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
}

.polaroid:first-child {
  transform: rotate(-20deg);
  position: absolute;
}

.polaroid:nth-child(2) {
  transform: rotate(20deg);
  position: absolute;
}

.polaroid:nth-child(3) {
  transform: rotate(40deg);
  position: absolute;
}

.polaroid:hover {
  transform: rotate(0);
}
